body {
  height: 100vh;
  margin:0;
}
.top {
  width: 100%;
  height: 4em;
  background-color: red;
}

.bottom {
  display: flex;
  height: 100%;
  width: 100%;
}

.bottom .bottom-left {
  background-color: orange;
  width:20%;
  height: 100%;
}

.bottom .bottom-center {
  flex-direction: column;
  width: 60%;
  height: 100%;

}

.bottom .bottom-bottom {
background-color: yellow;
height: 4em;
width: 100%;
position: relative;
top: 735px;

}

.bottom .bottom-right {
  background-color: orange;
  width:20%;
  height: 100%;
}
